%footer
	%section
		.container
			.row
				.col-sm-6
					%p.light-text-color
						%img.margin-right.margin-bottom{:src=>"/images/logo.svg", :width=>"100px"}
						%br
						© 2019 Volley

				.col-sm-2
					%p.body-small.light-text-color
						Company
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"/about"}
								About
						%li
							%a.text-color{:href=>"/#how-it-works"}
								How it works
						%li
							%a.text-color{:href=>"#"}
								Pricing
						%li
							%a.text-color{:href=>"/terms"}
								Terms of use
						%li
							%a.text-color{:href=>"/privacy"}
								Privacy policy
						%li
							%a.text-color{:href=>"/security"}
								Security
				.col-sm-2
					%p.body-small.light-text-color
						Connect
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"https://www.facebook.com/meetvolley/"}
								Facebook
						%li
							%a.text-color{:href=>"https://twitter.com/meetvolley"}
								Twitter
						%li
							%a.text-color{:href=>"https://www.youtube.com/channel/UCeUpquAf-1HTU4IOthZjMlw"}
								YouTube
						%li
							%a.text-color{:href=>"https://www.producthunt.com/posts/volley-c1817f8d-6722-443c-baee-3b328e4507b0"}
								Product Hunt
				.col-sm-2
					%p.body-small.light-text-color
						Questions?
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"mailto:hello@meetvolley.com"}
								hello@meetvolley.com



%script{:defer => "defer", :id => "io.birdseed.script-tag", :src => "https://cdn.birdseed.io/widget.js", :type => "text/javascript"}
#birdseed-widget-container{"data-token" => "729f1d20d591a049f3dc5a30b717b7a4"}
