

%header#primary-header#marketing-header
  .container
    .row.align-items-center
      .col-xl-3.col-lg-3.col-md-6.col-4
        %a{:href=>"/"}
          %img{:src=>"/images/logo.svg", :width=>"120px"}
      .col-xl-6.col-lg-6.d-none.d-lg-block
        .navbar.justify-content-center
          .nav
            .nav-item
              %a.nav-link{:href=>"/#how-it-works"}
                How it works
            .nav-item
              %a.nav-link{:href=>"/about"}
                Why we made Volley
            .nav-item
              %a.nav-link{:href=>"/pricing"}
                Pricing
      .col-xl-3.col-lg-3.col-md-6.col-8
        .float-right.header-btns
          %a.btn.btn-secondary.quarter-margin-right{:href=>"https://app.meetvolley.com//login"}
            Login
          %a.btn.btn-primary{:href=>"https://app.meetvolley.com/sign-up"}
            Get started free

