;;;

"title": "Security"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section
	.container
		.row.justify-content-center
			.col-lg-8
				.double-margin-top.text-center
					%h1.market.bold-font.margin-bottom
						Security
					%h3.market
						Meetvolley.com’s security is critical for our customers. We work hard to protect the security of your account and information. Here’s how we protect your data.

%section
	.container
		.row.justify-content-center
			.col.col-md-8
				.margin-bottom
					%h3.market.bold-font
						Account security
					%p
						All communications are encrypted over SSL/TLS 1.2, which cannot be viewed by a third party and is the same level of encryption used by banks and financial institutions.
				.margin-bottom
					%h3.market.bold-font
						Account security
					%p
						All communications are encrypted over SSL/TLS 1.2, which cannot be viewed by a third party and is the same level of encryption used by banks and financial institutions.
				.margin-bottom
					%h3.market.bold-font
						Account security
					%p
						All communications are encrypted over SSL/TLS 1.2, which cannot be viewed by a third party and is the same level of encryption used by banks and financial institutions.
				.margin-bottom
					%h3.market.bold-font
						Account security
					%p
						All communications are encrypted over SSL/TLS 1.2, which cannot be viewed by a third party and is the same level of encryption used by banks and financial institutions.




        







