;;;

"title": "About us"

;;;

%section.off-white-bg
	.padded
	.padded
%section.no-padding-top.no-padding-bottom{:style=>"margin-top:-192px;"}
	.container
		.row
			.col-12.text-center
				%img.double-margin-top.max-width{:src=>"../images/about-img.svg", :width=>"600px"}

%section.no-padding-bottom.double-padding-top
	.container.double-padding-top

		.row.justify-content-center
			.col.col-md-9
				%h1.market.bold-font.double-margin-bottom.text-center
					Better back-and-forth for all
		.row.justify-content-center
			.col.col-md-8
				%p.market.body-lg
					%span.bold-font
						I’m Alex, creator of Volley. 
					I’ve been 
					%a{:href=>"https://dribbble.com/Alauderdale10"}
						working as a UX designer
					for over 10 years. During my time spent working for numerous startups and agencies, I noticed the same thing everywhere I worked. I'd create a set of designs, doing everything I could to ensure our developers had what they needed to build my designs. Even so, the resulting builds would never look exactly like my original mockups. 
				%p.market.body-lg
					At first, I thought this must be a result of the team or company, but after seeing this literally everywhere I went, I realized that this is just a natural part of the process. After spending hours compiling screenshots into Google Docs and having them constantly get out of sync or lost in the grind, I paired up with my best friend of 27 years to create a simple tool to make this workflow quick and easy. After seeing how much our developer team loved this elegant back-and-fourth, we decided to share “Volley” with any other designer or developer that might find it useful. Since then, we’ve seen hundreds of web and digital product teams save time by using Volley for their own design QA process. 
		.row.justify-content-center
			.col.col-md-8.text-center
				%img.max-width.double-margin-top{:src=>"../images/test-smile.svg", :width=>"77px"}

=partial('/shared/promo')