.note-detail-wrapper.market-note.note-1
	.note-detail-body
		.comment-number
			1
		.comment-form.animated
			.comment-form-header
				.row
					.col
						%h4.no-margin-bottom
							Add a note
					.col
						%button.close{:type=>"button"}
							%i.material-icons
								close
			.comment-form-body
				.text-wrapper.typer
					%p
						This text is misaligned. 
			.comment-form-footer
				.text-right
					%a.btn.btn-link{:href=>"#"}
						%i.material-icons
							attachment
					%a.btn.btn-primary{:href=>"#"}
						Add note