%section.padding-top
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-6.col-lg-6.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Free
								%h5
									Level up your process
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited notes
									%li
										User mentions


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-6.col-lg-6.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Pro
								%h5
									Great for freelancers
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Unlimited projects
									%li.bold-font
										Unlimited colloborators
									%li
										Unlimited notes
									%li
										Export to Trello
									%li
										Export to Jira

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-6.col-lg-6.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Team
								%h5
									Great for small teams
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										45
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Everything in Pro
									%li
										6 team members

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-6.col-lg-6.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Team Plus
								%h5
									Great for larger teams 
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										85
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Everything in Pro
									%li
										15 team members

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free