%meta{:charset => "utf-8"}
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%title
  Visual Feedback, Website Annotation & Bug Reporting Tool | Volley
%meta{:content => "Visual Feedback, Website Annotation & Bug Reporting Tool | Volley", :property => "og:title"}

%meta{:content => "Volley is the fastest way to collect feedback on any website. Create comments on any webpage to collect visual feedback. Volley is free.", :name => "description"}
%meta{:content => "Volley is the fastest way to collect feedback on any website. Create comments on any webpage to collect visual feedback. Volley is free.", :property => "og:description"}
%meta{:content => "Volley is the fastest way to collect feedback on any website. Create comments on any webpage to collect visual feedback. Volley is free.", :property => "twitter:description"}

%meta{:content => "visual feedback,customer feedback,website feedback,Volley app,feedback,feedback management,screenshot,UAT,user acceptance testing,project,project management,comment,report,notification,integration,api,customer,jira,hipchat,slack,trello,basecamp,email", :name => "keywords"}




%meta{:content => "https://meetvolley.com/images/featured.png", :property => "og:image"}
%meta{:content => "https://meetvolley.com/images/featured.png", :name => "twitter:image"}



//google material icons
%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}

= stylesheet_link_tag "style"
%link{href: "https://meetvolley.com/images/favicon.png", rel: "shortcut icon"}
= javascript_include_tag"../bower_components/bootstrap/site/docs/4.3/assets/js/vendor/jquery-slim.min.js","https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", "../bower_components/bootstrap/dist/js/bootstrap.min.js", "scripts"