;;;

"title": "Pricing"

;;;


%section#main-hero.no-padding-bottom
	.container
		.row.justify-content-center
			.col-lg-9
				.double-margin-top
					%h1.market.bold-font.double-margin-bottom.text-center
						Simple Pricing
					%h2.double-margin-bottom.text-center
						Get an ample free plan forever OR upgrade to unlimited everything for one unbelievably low price

		.row
			.col-lg-12
				=partial('/shared/pricing-table')


=partial('/shared/promo')

