;;;

"title": "Home"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section#main-hero
	.container
		.row.justify-content-center
			.col-lg-9
				.double-margin-top
					%h2.bold-font.hero-lead.text-center.margin-bottom
						Web, UX, and Product Designers...
					%h1.market.extra-bold-font.double-margin-bottom.text-center
						Keep Your Designs in Play
					%p.market.body-lg.double-margin-bottom.text-center
						How often do you create a set of pixel-perfect website designs and hand them off to be developed, only for the resulting build to come back still needing a few tweaks? 
						%span.bold-font
							/ Meet Volley, a simple tool for reviewing websites. 
							Volley puts the ball back in your hands by allowing you to provide visual feedback on ANY website.
		.row.justify-content-center
			.col
				.video-button-wrapper.text-center.double-margin-bottom
					%a.btn.btn-primary.btn-lg.btn-block-sm{:href=>"https://app.meetvolley.com/sign-up"}
						Try Volley for Free
					%button.btn.btn-primary.video-btn.btn-lg.btn-block-sm{"data-src" => "https://www.youtube.com/embed/33AciLvQ9mo", "data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
						%i.material-icons
							play_circle_outline
						See how it works
					/ %h4.margin-top.text-center
					/ 	Over 400 companies trust Volley for their website review workflow.
				.padded.text-center
					%img.max-width.full-width.d-none.d-sm-block{:src=>"/images/home-gif-2.gif"}
					%img.max-width.max-width.d-block.d-sm-none.margin-auto{:src=>"/images/home-graphic-mobile.svg", :width=>"200px"}
						

#how-it-works.spacer
%section.no-padding-bottom
	.container
		.row.align-items-center.justify-content-around
			.col-lg-9.text-center	
				%h2.market.bold-font.margin-bottom
					Stop wasting time with an inefficient website review process
				%p.market.body-lg
					Ditch the docs, emails and spreadsheets. Here's how Volley will help you take your websites from unpolished to pixel-perfect:

				
%section
	.container
		.row.align-items-center.justify-content-around
			.col-lg-6.order-lg-2
				%img.full-width.lr-img.right{:src=>"/images/gif-extension.gif"}
			.col-lg-5.order-lg-1
				%h2.bold-font{:style=>"color:#F59328;"}
					Step 1
				%h3.bold-font.market
					Use the browser extension to report feedback
				.margin-top
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Works on ANY website
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Works behind a login and on staging builds
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Attach mocks for additional context
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Similar tools iFrame your website, which feels clunky

				%h4.market
					Available on Chrome and FireFox — more coming soon
				%img{:src=>"/images/browsers.png", :width=>"99px"}
				%p.bold-font.market.margin-top
					%a.link-underline{:href=>"https://app.meetvolley.com/sign-up"}
						Start capturing feedback



%section
	.container
		.row.align-items-center.justify-content-around
			.col-lg-6
				%img.full-width.lr-img.left{:src=>"/images/gif-resolve.gif"}
			.col-lg-4
				%h2.bold-font{:style=>"color:#37BCDA;"}
					Step 2
				%h3.bold-font.market
					Share feedback with your team
				.margin-top
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Share with developers in a single click
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Share with unlimited stakeholders
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								@mentions included
				%p.bold-font.market.margin-top
					%a.link-underline{:href=>"https://app.meetvolley.com/sign-up"}
						Create your first project



%section
	.container
		.row.align-items-center.justify-content-around
			.col-lg-6.order-lg-2
				%img.full-width.lr-img.right{:src=>"/images/colloborate-gif.gif"}
			.col-lg-4.order-lg-1
				%h2.bold-font{:style=>"color:#33CE80;"}
					Step 3
				%h3.bold-font.market
					Review and resolve feedback with ease
				.margin-top
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Notes saved to an easy-to-use workspace
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								High-res screenshots for no loss of context
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Easily mark feedback as "complete"
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								That's it! Now your websites are pixel-perfect. 
				%p.bold-font.market.margin-top
					%a.link-underline{:href=>"https://app.meetvolley.com/sign-up"}
						Get started for free


%section
	.container
		.row.align-items-center.justify-content-around
			.col-lg-6
				%img.full-width.lr-img.left{:src=>"/images/home-step-export.png"}
			.col-lg-4
				%h2.bold-font{:style=>"color:#D63230;"}
					Export
				%h3.bold-font.market
					You can even send your feedback to Trello and Jira
				.margin-top
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Export notes directly to Trello and Jira
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Notes exported with detailed screenshots
					.media
						%img.half-margin-right{:src=>"/images/check-ball.svg", :width=>"16px", :style=>"position:relative; top:7px;"}
						.media-body
							%p.market
								Perfect for developer workflows
				%p.bold-font.market.margin-top
					%a.link-underline{:href=>"https://app.meetvolley.com/sign-up"}
						Start capturing feedback


%section.off-white-bg
	.container
		.row.align-items-center.justify-content-around
			.col-lg-9.text-center
				%h2.market.bold-font
					Launch quicker...
				%p.market
					%span.bold-font
						Before Volley 
					you capture your website feedback using screenshots, numerous email threads, and tons of Google Docs. 
					%span.bold-font
						After Volley 
					Just point, click, comment. All your feedback is centralized in one place. 
				%img.max-width.double-margin-bottom.double-margin-top.double-margin-bottom{:src=>"/images/launch-quicker.svg", :width=>"700px"}
				%a.btn.btn-primary.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
					Try it - it’s free forever


%section
	.container
		.row.double-margin-bottom
			.col-lg-12.text-center
				%h2.market.double-margin-bottom
					
					Made 
					by designers
					%span.bold-font
						for designers 
				%p.bold-font.market
					%a.link-underline{:href=>"/about"}
						Learn more about our mission

		.row
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Perfect for design QA
							%p.light-text-color.no-margin-bottom
								Quickly provide feedback on new builds and features with ease.

			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Built for product designers

							%p.light-text-color.no-margin-bottom
								Designers have enough tools. Volley was created to be quick and easy
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Developer friendly
							%p.light-text-color.no-margin-bottom
								Instantly share any project with your developer team.
		.row
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Best-in-class security
							%p.light-text-color.no-margin-bottom
								Control who sees your feedback. Everything is 
								%a{:href=>"/security"}
									secure and protected. 
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								@ mentions
							%p.light-text-color.no-margin-bottom
								Anyone you mention in your comments is instantly notified.
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Works on ANY website
							%p.light-text-color.no-margin-bottom
								Literally any website. Even local builds and sites sitting behind logins. 
		.row
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Lightning fast commenting
							%p.light-text-color.no-margin-bottom
								Just point, click, comment, repeat. 
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Works behind a login or locally
							%p.light-text-color.no-margin-bottom
								Any page you can load in a browser works with Volley. 
			.col-lg-4
				.padded
					.card.text-center.check-card
						.card-body
							%p.quarter-margin-bottom.bold-font
								Free support
							%p.light-text-color.no-margin-bottom
								We’ll respond to any issue within a few hours. 
		/ .row
		/ 	.col-lg-4.margin-bottom
		/ 		%h3.market.bold-font
		/ 			Volley is perfect for
		/ 		%ul.check-list
		/ 			%li
		/ 				Designers doing a website review
		/ 			%li
		/ 				Developers looking for feedback
		/ 			%li
		/ 				Project managers reviewing features
		/ 			%li
		/ 				QA teams documenting bugs
		/ 	.col-lg-4.margin-bottom
		/ 		%h3.market.bold-font
		/ 			Use cases
		/ 		%ul.check-list
		/ 			%li
		/ 				Design review
		/ 			%li
		/ 				Bug reporting
		/ 			%li
		/ 				Feature documentation and ideas
		/ 			%li
		/ 				Developer questions
		/ 	.col-lg-4.margin-bottom
		/ 		%h3.market.bold-font
		/ 			Why we’re different
		/ 		%ul.check-list
		/ 			%li
		/ 				Volley uses screenshots for easier review
		/ 			%li
		/ 				Simple, collaborative workspaces
		/ 			%li
		/ 				Upload design attachments with your notes
		/ 			%li
		/ 				Create notes in seconds

%section.off-white-bg
	.container
		.row.justify-content-center
			.col-lg-11
				.text-center
					%h2.market.margin-bottom.bold-font
						Dont take our word for it…
					%img.max-width.double-margin-bottom{:src=>"../images/test-smile.svg", :width=>"77px"}
				.card.testimonial-container.margin-top
					.card-body
						.row.align-items-center
							.col-lg-4.order-lg-2.d-sm-none.d-none.d-lg-block
								.padded
									%img.max-width.profile-img{:src=>"../images/drew.png"}
							.col-lg-8.order-lg-1
								.padded
									%img.max-width.margin-bottom{:src=>"../images/birdseed-logo.svg", :width=>"180px"}
									%p
										“As a non-technical founder of a company I constantly find myself working with our design team to bring our product to life, only to pass along to our development team and not able to fully “bring it to life” as intended.  What makes Volley so powerful for us is that it allows our designers to instantly provide feedback to our developers, ensuring we end up with exactly what we designed.”
									%h4.margin-bottom
										%span.bold-font
											—  Drew Sheahan, 
										Founder at BirdSeed
									%img.max-width{:src=>"../images/stars.svg", :width=>"137px"}

=partial('/shared/promo')








/ Modal
#myModal.modal.fade.video-modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-body
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				.embed-responsive.embed-responsive-16by9
					%iframe#video.embed-responsive-item{:allow => "autoplay", :allowscriptaccess => "always", :src => ""}